.main__layout__header {
	display: flex;
	background-color: #3d405b;
	font-family: 'Montserrat', sans-serif;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}
.top__bar__logo {
	width: 6rem;
	height: 1rem;
}

.top__bar__logo img {
	width: 100%;
	height: 100%;
}
.menu__button {
	cursor: pointer;
}

.menu__button i {
	font-size: 1.5rem;
}

.top__right__menu {
	position: absolute;
	top: 48px;
	right: 0;
	display: block;
	flex-direction: row;
	justify-content: center;
	background-attachment: fixed;
	background-color: #3d405b;
	font-family: 'Montserrat', sans-serif;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 1rem 1rem 1rem;
	max-width: 400px;
	border-radius: 0 0 0 1rem;
}

.menu__links {
	margin: 1rem;
	height: 100%;
	justify-content: space-between;
	align-items: space-between;
	list-style: none;
}

.menu__links i {
	margin-right: 1rem;
}

.menu__links a {
	color: #f4f1de;
	text-decoration: none;
	padding: 0;
	font-weight: 600;
}

.menu__links li {
	margin: 1.5rem 3rem 0 0;
	position: relative;
	height: 100%;
}

.nav__links {
	display: flex;
	margin: 0;
	height: 100%;
	justify-content: space-between;
	align-items: space-between;
	list-style: none;
	font-weight: 600;
	letter-spacing: 0.05rem;
}
a[aria-current='page'] {
	border-bottom: 2px solid #f4f1de;
}
.animated__underline {
	position: relative;
	color: #f4f1de;
	text-decoration: none;
	padding: 0.5rem 0;
}

.animated__underline::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #f4f1de;
	bottom: 0;
	left: 0;
	transition: transform 0.4s ease;
	transform: scaleX(0);
}

.animated__underline:hover::after {
	transform: scaleX(1);
}
li {
	margin-right: 2rem;
	position: relative;
	height: 100%;
}

i {
	margin-right: 0.5rem;
}
