@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
	/* base */
	--zero: 0;
	--sizing: border-box;
	--primary-font: 'Montserrat', sans-serif;
	/* page */
	--page-background-color: var(--lighter-yellow);
	--meassure: 0.5rem;
	--title-font-size: 2rem;
	--title-font-weight: 600;
	--title-color: var(--dark-blue);
}

/* base */
.base__formatting {
	margin: var(--zero);
	padding: var(--zero);
	box-sizing: var(--sizing);
	font-family: var(--primary-font);
}
