* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(90deg, #1e1e1e 0%, #2e2e2e 50%, #3e3e3e 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f0f0f0;
}

main {
	padding: 1em;
}

header {
	width: 102%;
	margin-left: -1%;
	margin-top: -0.5%;
	height: 3rem;
}

::-webkit-scrollbar {
	height: 0;
}
